body {
    text-align: center;
    background-color: rgb(221, 218, 218);
    color: black
}

.box { 
    text-align: center;
    width: 50px; 
    background: rgb(0, 0, 0);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px; 
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.player, .winner {
    font-size: 30px;
    margin: 10px;
}


button { 
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background: rgb(0, 0, 0);
    cursor: pointer; 
    color: greenyellow;
    border-radius: 25px;
}

